<div fxLayout="column" fxFill>
  <section class="footer__section-1" fxLayout.lt-md="column" fxLayout="row">
    <div class="footer__section-1__card" fxFlex fxFlex.lt-md="1 1 auto">
      <div class="footer__section-1__card-container">
        <img class="footer__section-1__card-container-img" src="assets/img/logo-white.png">
        <p class="footer__section-1__card-container-text">At vero eos et accusamus et iusto odio dignissimos ducimus
          qui blanditiis praesentium voluptatum deleniti atque. at vero eos accusamus lusto odio dignissimos</p>
        <button class="footer__section-1__card-container-button-1">BUTTON</button>
      </div>
    </div>
    <div class="footer__section-1__card" fxFlex fxFlex.lt-md="1 1 auto">
      <div class="footer__section-1__card-container">
        <h1 class="footer__section-1__card-container-title">About</h1>
        <p class="footer__section-1__card-container-text">At vero eos et accusamus et iusto odio dignissimos ducimus
          qui blanditiis praesentium voluptatum deleniti atque. at vero eos accusamus lusto odio dignissimos</p>
        <button class="footer__section-1__card-container-button-2">READ MORE</button>
      </div>
    </div>
    <div class="footer__section-1__card" fxFlex fxFlex.lt-md="1 1 auto">
      <div class="footer__section-1__card-container">
        <h1 class="footer__section-1__card-container-title">Contact Us</h1>
        <p class="footer__section-1__card-container-email"> <i class="far fa-envelope"></i> INFOMAIL@MAIL.COM</p>
        <p class="footer__card-container-phone"> <i class="fas fa-phone"></i> +123 456 78-90</p>
        <div class="footer__section-1__card-container-social"fxLayoutAlign="center center">
          <div class="footer__section-1__card-container-social-circle">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="footer__section-1__card-container-social-circle">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="footer__section-1__card-container-social-circle">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer__section-2" fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <img class="footer__section-2__logo" src="assets/img/footer-img.png" alt="logo_footer" />
    </div>
    <div class="footer__section-2__container" fxHide.lt-sm="true">
      <button class="footer__section-2__button">WORK</button>
      <button class="footer__section-2__button">SERVICE</button>
      <button class="footer__section-2__button">ABOUT</button>
      <button class="footer__section-2__button">BLOG</button>
      <button class="footer__section-2__button">CONTACT</button>
    </div>
  </section>
</div>